@charset "UTF-8";
/* Black Ops One font */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
/* aleo font */
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Black+Ops+One&display=swap');
/* PT Serif font */
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Black+Ops+One&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid 1px #f90eb6; */
}
body {
  background-color: #FFF8ED;
  font-family: "PT Serif", serif;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 224px);
  grid-template-areas:
    "header header header"
    "intro intro intro"
    "content1 content2 content3"
    "content4 content4 content5"
    "footer footer footer";
  gap: 30px;
  padding: 48px;
  margin: 0 auto;
  max-width: fit-content;
}

/* 헤더 스타일 */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 42px 0;
  grid-area: header;
  font-family: "Black Ops One", system-ui;
  height: 244px;
  border-top: double 12px black;
  border-bottom: double 12px black;
}
.header__date {
  font-size: 18px;
  line-height: 21px;
}
.header__title {
  font-size: 60px;
  line-height: 100px;
}
.header__with {
  font-family: "Aleo", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

/* 섹션 */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  grid-area: intro;
  text-align: center;
}
.intro > h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
}
.intro > h3 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 41px;
  width: 100%;
  height: 41px;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

/* 메인 콘텐츠 스타일 */
.main-contents {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 18px;
  line-height: 21 px;
  text-align: justify;
}
.intro__figcaption {
  position: absolute;
  top: -9999px
}

.main-content-1 {
  grid-area: content1;
}
.main-content-2 {
  grid-area: content2;
}
.main-content-3 {
  grid-area: content3;
}
figure {
  width: 100%;
}
figure > img {
  width: 100%;
  height: 100%;
}
.main-content-4 {
  grid-area: content4;
}
.main-content-5 {
  grid-area: content5;
}

/* 푸터 스타일 */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  height: 59px;
  border-top: double 5px black;
  border-bottom: double 5px black;
}